body {
  margin: 0;
  padding: 0;

}
img {
  max-width: 100%;
  height: auto:
}
#navbar{
  margin: 0;
  position: fixed;
  width: 100%;
}
.navbar-list {
  background: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
}

.navbar-list ul, li {
  list-style: none;
  margin: 6px 20px 4px 0;
  padding: 1rem 2rem;
}
 .navbar-list a:last-child {
   margin-right: 2rem;
 }
.navbar-list a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
 #welcome-section {
   background: repeating-radial-gradient(
     circle at 0 0,
     rgba(170, 170, 170, 0.3),
     rgba(153, 153, 153, 0.7) 150px
     );
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
#welcome-section h1 {
  margin: 0;
  font-size: 2.2rem;
}
.responsive {
  max-width: 200px;
}
